<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon >menu</mat-icon>
      </button>
      <h1>E-Learning</h1>
      <span class="menu-spacer"></span>
      <div>
          <a mat-button routerLink="/home"  routerLinkActive="active"> Home </a>
          <a *ngIf="name!=a" mat-button routerLink="/course-registration"  routerLinkActive="active"> Course Registeration </a>
          <a mat-button routerLink="/courses"  routerLinkActive="active"> Courses </a>
          <a mat-button *ngIf="name!=a" routerLink="/materials"  routerLinkActive="active"> Materials </a>
          <!-- <a *ngIf="name!=a" mat-button routerLink="/grades"  routerLinkActive="active"> Grades </a> -->
          <a *ngIf="name==a" mat-button routerLink="/register-request"  routerLinkActive="active"> Register Request </a>
          <a *ngIf="name!=a" mat-button routerLink="/show-scores"  routerLinkActive="active"> Scores </a>

    
          <mat-icon aria-hidden="false" aria-label="Example home icon"  style="position: absolute; right: 80px; ; position: absolute;top: 17px; transform: scale(1.5);">account_circle</mat-icon>

          <a mat-button routerLink=""  routerLinkActive="active" style="position: absolute; right:0 ; position: absolute;top: 10px;" > Logout </a>
  
      </div>
    </mat-toolbar-row>

  </mat-toolbar>
