<app-c1></app-c1>
<body>
    <h1 style="font-size: xxx-large; margin-left: 40%; padding-top: 40px;"><b> E-Learning System </b></h1>
    <mat-card class="box" style="width: 80%; margin-left: 5%; margin-top: 5%;">

        <h2> Faculty Announcements: </h2> <br>

        <h3>- Midterms will be held on the 6th Week</h3>
        <h3>- Course registration deadline is on the 30th of April, 2022.</h3>
        <h3>- Paying Fees deadline is on the 2nd of May, 2022.</h3>

    </mat-card>
    <mat-card class="box" style="width: 80%; margin-left: 5%; margin-top: 5%;">

        <h2> Semester Plan(Spring 2022 Semester): </h2> <br>

        <h3>- Total 10 Weeks</h3>
        <h3>- Week 1 starts on 19/3/2022.</h3>
        <h3>- Midterms start on 26/3/2022.</h3>
        <h3>- Practical exams start on 30/4/2022.</h3>
    </mat-card>
</body>