
<main style="height: 100%; background-image: url('../../assets/img/image.jpg');">
    <header style="text-align:center">
      <h1 style="font-size: xx-large; padding-top: 40px;"><b> E-Learning System </b></h1>
    </header>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box" style="width: 300px; margin:auto; margin-top: 5%;">
      <mat-card-header>
        <!-- <mat-card-title style="font-size: large ; "> E-Learning System</mat-card-title> -->
        <mat-card-title style="font-size: large; left: 100px;"> Register<br><br></mat-card-title>

      </mat-card-header>
      <form class="example-form"  [formGroup]="myForm" (ngSubmit)="add()">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" [(ngModel)]="Username" name="n" formControlName="name" >
        </mat-form-field>
            <br>
          <mat-form-field class="example-full-width">
            <input matInput type="email" placeholder="Email" formControlName="Email">
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Password" formControlName="password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" type="submit" [disabled]="myForm.invalid" >Submit</button>
        <p><br>Already have an account? <a [replaceUrl]="true" routerLink="/" routerLinkActive="active" href="">login</a></p>
      </form>
    </mat-card>
  </div>
</main>
 