<app-c1></app-c1>
<body>  

  <div class = "all">
  <h1 style="font-size: x-large; margin-left: 40%; padding-top: 50px;"><b>E-Learning system</b></h1>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box" style="width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 5%; border: 0ch; border-radius: 25px;">
      <mat-card-header>
        <mat-card-title style="font-size: x-large;"> c#</mat-card-title>
      </mat-card-header>
      <form class="example-form">
        <mat-card-content>
    
       <table style="border: 1px black solid;">
          <tr >
              <th style="border: 1px black solid;padding: 10px;">category</th>
              <th style="border: 1px black solid;">grades</th>
        </tr>
        <tr >
            <td style="border: 1px black solid;padding: 10px;">midterm</td>
            <td style="border: 1px black solid;padding: 10px;">13/15</td>
        </tr>
        <tr style="border: 1px black solid;">
            <td style="border: 1px black solid;padding: 10px;">practical</td>
            <td style="border: 1px black solid;padding: 10px;">-</td>
        </tr>
        <tr >
            <td style="border: 1px black solid;padding: 10px;">quiz</td>
            <td style="border: 1px black solid;padding: 10px;">4/5</td>
        </tr>
       </table>
      </mat-card-content>
      </form>
    </mat-card>
  </div>
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box" style="width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 5%; border: 0ch; border-radius: 25px;">
      <mat-card-header>
        <mat-card-title style="font-size: x-large;">c++</mat-card-title>
      </mat-card-header>
      <form class="example-form">
        <mat-card-content>
          <table style="border: 1px black solid;">
            <tr >
              <th style="border: 1px black solid;padding: 10px;">category</th>
              <th style="border: 1px black solid;">grades</th>
            </tr> 
            <tr >
              <td style="border: 1px black solid;padding: 10px;">midterm</td>
              <td style="border: 1px black solid;padding: 10px;">15/15</td>
            </tr>
            <tr style="border: 1px black solid;">
              <td style="border: 1px black solid;padding: 10px;">practical</td>
              <td style="border: 1px black solid;padding: 10px;">10/15</td>
            </tr>
            <tr >
              <td style="border: 1px black solid;padding: 10px;">quiz</td>
              <td style="border: 1px black solid;padding: 10px;">-</td>
        </tr>
       </table>
      </mat-card-content>
      </form>
    </mat-card>
  </div>
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box" style="width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 5%; border: 0ch; border-radius: 25px;">
      <mat-card-header>
        <mat-card-title style="font-size: x-large;">python core</mat-card-title>
      </mat-card-header>
      <form class="example-form">
        <mat-card-content>
  
       <table style="border: 1px black solid;">
          <tr >
              <th style="border: 1px black solid;padding: 10px;">category</th>
              <th style="border: 1px black solid;">grades</th>
        </tr> 
        <tr >
            <td style="border: 1px black solid;padding: 10px;">midterm</td>
            <td style="border: 1px black solid;padding: 10px;">15/15</td>
        </tr>
        <tr style="border: 1px black solid;">
            <td style="border: 1px black solid;padding: 10px;">practical</td>
            <td style="border: 1px black solid;padding: 10px;">10/15</td>
        </tr>
        <tr >
            <td style="border: 1px black solid;padding: 10px;">quiz</td>
            <td style="border: 1px black solid;padding: 10px;">-</td>
        </tr>
       </table>
      </mat-card-content>
      </form>
    </mat-card>
  </div>
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box" style="width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 5%; border: 0ch; border-radius: 25px;">
      <mat-card-header>
        <mat-card-title style="font-size: x-large;">java</mat-card-title>
      </mat-card-header>
      <form class="example-form">
        <mat-card-content>
    
       <table style="border: 1px black solid;">
          <tr >
              <th style="border: 1px black solid;padding: 10px;">category</th>
              <th style="border: 1px black solid;">grades</th>
        </tr> 
        <tr >
            <td style="border: 1px black solid;padding: 10px;">midterm</td>
            <td style="border: 1px black solid;padding: 10px;">15/15</td>
        </tr>
        <tr style="border: 1px black solid;">
            <td style="border: 1px black solid;padding: 10px;">practical</td>
            <td style="border: 1px black solid;padding: 10px;">10/15</td>
        </tr>
        <tr >
            <td style="border: 1px black solid;padding: 10px;">quiz</td>
            <td style="border: 1px black solid;padding: 10px;">-</td>
        </tr>
       </table>
      </mat-card-content>
      </form>
    </mat-card>
  </div>
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box" style="width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 5%; border: 0ch; border-radius: 25px;">
      <mat-card-header>
        <mat-card-title style="font-size: x-large;">javascript</mat-card-title>
      </mat-card-header>
      <form class="example-form">
        <mat-card-content>

       <table style="border: 1px black solid;">
          <tr >
              <th style="border: 1px black solid;padding: 10px;">category</th>
              <th style="border: 1px black solid;">grades</th>
        </tr> 
        <tr >
            <td style="border: 1px black solid;padding: 10px;">midterm</td>
            <td style="border: 1px black solid;padding: 10px;">15/15</td>
        </tr>
        <tr style="border: 1px black solid;">
            <td style="border: 1px black solid;padding: 10px;">practical</td>
            <td style="border: 1px black solid;padding: 10px;">10/15</td>
        </tr>
        <tr >
            <td style="border: 1px black solid;padding: 10px;">quiz</td>
            <td style="border: 1px black solid;padding: 10px;">-</td>
        </tr>
       </table>
      </mat-card-content>
      </form>
    </mat-card>
  </div>
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box" style="width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 5%; border: 0ch; border-radius: 25px;">
      <mat-card-header>
        <mat-card-title style="font-size: x-large;">css</mat-card-title>
      </mat-card-header>
      <form class="example-form">
        <mat-card-content>

       <table style="border: 1px black solid;">
          <tr >
              <th style="border: 1px black solid;padding: 10px;">category</th>
              <th style="border: 1px black solid;">grades</th>
        </tr> 
        <tr >
            <td style="border: 1px black solid;padding: 10px;">midterm</td>
            <td style="border: 1px black solid;padding: 10px;">15/15</td>
        </tr>
        <tr style="border: 1px black solid;">
            <td style="border: 1px black solid;padding: 10px;">practical</td>
            <td style="border: 1px black solid;padding: 10px;">10/15</td>
        </tr>
        <tr >
            <td style="border: 1px black solid;padding: 10px;">quiz</td>
            <td style="border: 1px black solid;padding: 10px;">-</td>
        </tr>
       </table>
      </mat-card-content>
      </form>
    </mat-card>
  </div>
  <!-- <h1 style="color: white;">.</h1> -->
</div>
</body>